RewriteEngine on

ErrorDocument 404 /404.html

RewriteRule ^([a-zA-Z0-9\-_]+).html$ index.php?sayfa=$1 [L,QSA]

RewriteRule ^([a-zA-Z0-9\-_]+)(/?)$ index.php?sayfa=$1 [L,QSA]

RewriteRule ^icerik/(.*).html$ index.php?sayfa=icerik&id=$1 [L,QSA]

RewriteRule ^icerik/(.*?)$ index.php?sayfa=icerik&id=$1 [L,QSA]

RewriteRule ^ekip/(.*).html$ index.php?sayfa=ekip&id=$1 [L,QSA]

RewriteRule ^ekip/(.*?)$ index.php?sayfa=ekip&id=$1 [L,QSA]

RewriteRule ^haberdetay/(.*).html$ index.php?sayfa=haberdetay&id=$1 [L,QSA]

RewriteRule ^haberdetay/(.*?)$ index.php?sayfa=haberdetay&id=$1 [L,QSA]

RewriteRule ^referans/(.*).html$ index.php?sayfa=referans&id=$1 [L,QSA]

RewriteRule ^referans/(.*?)$ index.php?sayfa=referans&id=$1 [L,QSA]

RewriteRule ^foto/(.*).html$ index.php?sayfa=foto&id=$1 [L,QSA]

RewriteRule ^foto/(.*?)$ index.php?sayfa=foto&id=$1 [L,QSA]

RewriteRule ^video/(.*).html$ index.php?sayfa=video&id=$1 [L,QSA]

RewriteRule ^video/(.*?)$ index.php?sayfa=video&id=$1 [L,QSA]

RewriteRule ^referanslar/(.*).html$ index.php?sayfa=referanslar&s=$1 [L,QSA]

RewriteRule ^referanslar/(.*?)$ index.php?sayfa=referanslar&s=$1 [L,QSA]

RewriteRule ^belgelerimiz/(.*).html$ index.php?sayfa=belgelerimiz&s=$1 [L,QSA]

RewriteRule ^belgelerimiz/(.*?)$ index.php?sayfa=belgelerimiz&s=$1 [L,QSA]

RewriteRule ^e-katalog/(.*).html$ index.php?sayfa=e-katalog&s=$1 [L,QSA]

RewriteRule ^e-katalog/(.*?)$ index.php?sayfa=e-katalog&s=$1 [L,QSA]

RewriteRule ^ekibimiz/(.*).html$ index.php?sayfa=ekibimiz&s=$1 [L,QSA]

RewriteRule ^ekibimiz/(.*?)$ index.php?sayfa=ekibimiz&s=$1 [L,QSA]

RewriteRule ^hizmetler/(.*).html$ index.php?sayfa=hizmetler&s=$1 [L,QSA]

RewriteRule ^hizmetler/(.*?)$ index.php?sayfa=hizmetler&s=$1 [L,QSA]

RewriteRule ^hizmet/(.*).html$ index.php?sayfa=hizmet&id=$1 [L,QSA]

RewriteRule ^hizmet/(.*?)$ index.php?sayfa=hizmet&id=$1 [L,QSA]

RewriteRule ^musteri-gorusleri/(.*).html$ index.php?sayfa=musteri-gorusleri&s=$1 [L,QSA]

RewriteRule ^musteri-gorusleri/(.*?)$ index.php?sayfa=musteri-gorusleri&s=$1 [L,QSA]

RewriteRule ^foto-galeri/(.*).html$ index.php?sayfa=foto-galeri&s=$1 [L,QSA]

RewriteRule ^foto-galeri/(.*?)$ index.php?sayfa=foto-galeri&s=$1 [L,QSA]

RewriteRule ^video-galeri/(.*).html$ index.php?sayfa=video-galeri&s=$1 [L,QSA]

RewriteRule ^video-galeri/(.*?)$ index.php?sayfa=video-galeri&s=$1 [L,QSA]

RewriteRule ^haberler/(.*).html$ index.php?sayfa=haberler&s=$1 [L,QSA]

RewriteRule ^haberler/(.*?)$ index.php?sayfa=haberler&s=$1 [L,QSA]

RewriteRule ^urun/(.*).html$ index.php?sayfa=urun&id=$1 [L,QSA]

RewriteRule ^urun/(.*?)$ index.php?sayfa=urun&id=$1 [L,QSA]

RewriteRule ^urunler/(.*).html$ index.php?sayfa=urunler&s=$1 [L,QSA]

RewriteRule ^urunler/(.*?)$ index.php?sayfa=urunler&s=$1 [L,QSA]

RewriteRule ^urun-kategori/(.*).html$ index.php?sayfa=urun-kategori&id=$1 [L,QSA]

RewriteRule ^urun-kategori/(.*?)$ index.php?sayfa=urun-kategori&id=$1 [L,QSA]

RewriteRule ^urun-kategori-(.*)/(.*).html$ index.php?sayfa=urun-kategori&id=$1&s=$2 [L,QSA]

RewriteRule ^urun-kategori-(.*?)/(.*?)$ index.php?sayfa=urun-kategori&id=$1&s=$2 [L,QSA]

RewriteRule ^proje/(.*).html$ index.php?sayfa=proje&id=$1 [L,QSA]

RewriteRule ^proje/(.*?)$ index.php?sayfa=proje&id=$1 [L,QSA]

RewriteRule ^proje-kategori/(.*).html$ index.php?sayfa=proje-kategori&id=$1 [L,QSA]

RewriteRule ^proje-kategori/(.*?)$ index.php?sayfa=proje-kategori&id=$1 [L,QSA]

RewriteRule ^proje-kategori-(.*)/(.*).html$ index.php?sayfa=proje-kategori&id=$1&s=$2 [L,QSA]

RewriteRule ^proje-kategori-(.*?)/(.*?)$ index.php?sayfa=proje-kategori&id=$1&s=$2 [L,QSA]

RewriteRule ^projeler/(.*).html$ index.php?sayfa=projeler&s=$1 [L,QSA]

RewriteRule ^projeler/(.*?)$ index.php?sayfa=projeler&s=$1 [L,QSA]

RewriteRule ^banka-hesaplari/(.*).html$ index.php?sayfa=banka-hesaplari&s=$1 [L,QSA]

RewriteRule ^banka-hesaplari/(.*?)$ index.php?sayfa=banka-hesaplari&s=$1 [L,QSA]

RewriteRule ^sitemap.xml$ sitemap.php [NC,L]
