RewriteEngine on

RewriteRule ^index.html$ index.php [L,NC]
RewriteRule ^index$ index.php [L,NC]
RewriteRule ^giris.html$ giris.php [L,NC]
RewriteRule ^giris$ giris.php [L,NC]
RewriteRule ^([a-zA-Z0-9\-_]+).html$ index.php?sayfa=$1 [L,QSA]
RewriteRule ^([a-zA-Z0-9\-_]+)(/?)$ index.php?sayfa=$1 [L,QSA]
RewriteRule ^sayfa-duzenle/(.*).html$ index.php?sayfa=sayfa-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^sayfa-duzenle/(.*?)$ index.php?sayfa=sayfa-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^slider-duzenle/(.*).html$ index.php?sayfa=slider-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^slider-duzenle/(.*?)$ index.php?sayfa=slider-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^haber-duzenle/(.*).html$ index.php?sayfa=haber-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^haber-duzenle/(.*?)$ index.php?sayfa=haber-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^galeri-duzenle/(.*).html$ index.php?sayfa=galeri-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^galeri-duzenle/(.*?)$ index.php?sayfa=galeri-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^fotograflar/(.*).html$ index.php?sayfa=fotograflar&id=$1 [L,QSA]
RewriteRule ^fotograflar/(.*?)$ index.php?sayfa=fotograflar&id=$1 [L,QSA]
RewriteRule ^haber-fotograflar/(.*).html$ index.php?sayfa=haber-fotograflar&id=$1 [L,QSA]
RewriteRule ^haber-fotograflar/(.*?)$ index.php?sayfa=haber-fotograflar&id=$1 [L,QSA]
RewriteRule ^video-duzenle/(.*).html$ index.php?sayfa=video-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^video-duzenle/(.*?)$ index.php?sayfa=video-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^header-menu-duzenle/(.*).html$ index.php?sayfa=header-menu&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^header-menu-duzenle/(.*?)$ index.php?sayfa=header-menu&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^footer-menu-duzenle/(.*).html$ index.php?sayfa=footer-menu&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^footer-menu-duzenle/(.*?)$ index.php?sayfa=footer-menu&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^dil-duzenle/(.*).html$ index.php?sayfa=dil-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^dil-duzenle/(.*?)$ index.php?sayfa=dil-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^sablon-duzenle/(.*).html$ index.php?sayfa=sablon-duzenle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^sablon-duzenle/(.*?)$ index.php?sayfa=sablon-duzenle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^rehber-duzenle/(.*).html$ index.php?sayfa=rehber-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^rehber-duzenle/(.*?)$ index.php?sayfa=rehber-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^yonetici-duzenle/(.*).html$ index.php?sayfa=yonetici-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^yonetici-duzenle/(.*?)$ index.php?sayfa=yonetici-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^ekip-duzenle/(.*).html$ index.php?sayfa=ekip-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^ekip-duzenle/(.*?)$ index.php?sayfa=ekip-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^hizmet-duzenle/(.*).html$ index.php?sayfa=hizmet-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^hizmet-duzenle/(.*?)$ index.php?sayfa=hizmet-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^referans-duzenle/(.*).html$ index.php?sayfa=referans-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^referans-duzenle/(.*?)$ index.php?sayfa=referans-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^belge-duzenle/(.*).html$ index.php?sayfa=belge-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^belge-duzenle/(.*?)$ index.php?sayfa=belge-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^soru-duzenle/(.*).html$ index.php?sayfa=soru-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^soru-duzenle/(.*?)$ index.php?sayfa=soru-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^katalog-duzenle/(.*).html$ index.php?sayfa=katalog-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^katalog-duzenle/(.*?)$ index.php?sayfa=katalog-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^bayi-duzenle/(.*).html$ index.php?sayfa=bayi-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^bayi-duzenle/(.*?)$ index.php?sayfa=bayi-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^paket-duzenle/(.*).html$ index.php?sayfa=paket-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^paket-duzenle/(.*?)$ index.php?sayfa=paket-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^proje-duzenle/(.*).html$ index.php?sayfa=proje-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^proje-duzenle/(.*?)$ index.php?sayfa=proje-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^proje-kategori-duzenle/(.*).html$ index.php?sayfa=proje-kategori-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^proje-kategori-duzenle/(.*?)$ index.php?sayfa=proje-kategori-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^banka-duzenle/(.*).html$ index.php?sayfa=banka-hesap-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^banka-duzenle/(.*?)$ index.php?sayfa=banka-hesap-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^ozellik/(.*).html$ index.php?sayfa=ozellik-degerleri&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^ozellik/(.*?)$ index.php?sayfa=ozellik-degerleri&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^urun-kategori-duzenle/(.*).html$ index.php?sayfa=urun-kategori-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^urun-kategori-duzenle/(.*?)$ index.php?sayfa=urun-kategori-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^urun-duzenle/(.*).html$ index.php?sayfa=urun-ekle&islem=duzenle&id=$1 [L,QSA]
RewriteRule ^urun-duzenle/(.*?)$ index.php?sayfa=urun-ekle&islem=duzenle&id=$1 [L,QSA]
