
/* ==========================================================================
   General
   ========================================================================== */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

p { color: #888; }

h1,
h2,
h3,
h4,
h5,
h6 { font-weight: 400; }

a { color: #3c83f9; }

a:hover {
  color: #2d62bb;
  text-decoration: none;
}

a:focus { outline: none; }

img {
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ==========================================================================
   main
   ========================================================================== */
   
.main {
  background: url(../img/bg.jpg) center center no-repeat;
  background-size: cover;
  padding: 3em 0 4.5em;
  position: relative;
  color: #fff;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  top: 0;
}


.main h1 {
  font-size: 36px;
  font-weight: 300;
}

.welcome-message { padding-top: 1.5em; }

.rotate { text-shadow: none !important; }


/* ==========================================================================
   Subscription form 
   ========================================================================== */
   
 .form-control::-webkit-input-placeholder {
 color: #8A8A8A;
 font-weight: 300;
}
 .form-control:-moz-placeholder {
 color: #8A8A8A;
 font-weight: 300;
}
 .form-control::-moz-placeholder {
 color: #8A8A8A;
 font-weight: 300;
}
 .form-control:-ms-input-placeholder {
 color: #8A8A8A;
 font-weight: 300;
}

.sub-form { padding-top: 1.5em; }

.center-block { float: none; }

.form-control {
  background-color: #fff;
  border: 1px solid #fff;
  box-shadow: none;
  height: 50px;
  font-weight: 300;
}

.form-control:focus {
  border-color: #fff;
  outline: 0;
  box-shadow: none;
}

.input-group-btn>.btn:hover,
.input-group-btn>.btn:focus,
.input-group-btn>.btn:active { z-index: 1; }

.btn-default {
  color: #fff;
  background-color: #3c83f9;
  border-color: #3c83f9;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  padding: 12px 1.5em;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  color: #fff;
  background-color: #2d62bb;
  border-color: #2d62bb;
}

.btn:active:focus,
.btn-default:focus,
.btn:focus,
.btn-default:active { outline: none; }

#mc-notification {
  margin: .75em 0 0;
  color: #FFF;
}

.alert,
.success {
  padding: .5em 1em;
  border-radius: 4px;
  display: inline-block;
}

.alert { background-color: rgba(231, 76, 60, 0.7); }

.success { background-color: rgba(39, 174, 96, 0.7); }

.alert i,
.success i,
.success-cf p i,
.error-cf p i { padding-right: .5em; }

.fa-paper-plane { padding-left: .5em; }

/* ==========================================================================
   Small devices (tablets, 768px and up)
   ========================================================================== */
   
@media (min-width: 768px) {

.main { padding: 3em 0 7.5em; }

.welcome-message { padding-top: 6em; }

.main h1 { font-size: 52px; }


/* ==========================================================================
   Medium devices (desktops, 992px and up) 
   ========================================================================== */
   
@media (min-width: 992px) {

.main {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.features,
.twitter-feed,
.contact,
.site-footer {
  position: relative;
  z-index: 2;
}

.welcome-message { padding-top: 9em; }

.section-spacing { padding: 6em 0; }

.features.section-spacing {
  padding: 6em 0 3em;
  margin-top: 46.8em;
}

.product-features { margin-bottom: 3.75em; }

.features.section-spacing,

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
0% {
opacity:0;
-webkit-transform:translate3d(0, 100%, 0);
transform:translate3d(0, 100%, 0);
}
100% {
opacity:1;
-webkit-transform:none;
transform:none;
}
}
@keyframes fadeInUp {
0% {
opacity:0;
-webkit-transform:translate3d(0, 100%, 0);
-ms-transform:translate3d(0, 100%, 0);
transform:translate3d(0, 100%, 0);
}
100% {
opacity:1;
-webkit-transform:none;
-ms-transform:none;
transform:none;
}
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
}

