.whatsapp {
    position: fixed;
    left: 15px;
    bottom: 125px;
    transition: all .5s ease-in-out;
    z-index: 999;
}

.whatsapp a {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    font-size: 28px;
    display: block;
    text-align: center;
    line-height: 50px;
    color: white;
    background: #4dc247;
}

.whatsapp .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    line-height: normal;
    font-size: 15px;
    top: 13px;
    left: 105%;
    height: auto;
}

.whatsapp:hover a {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.whatsapp:hover .tooltiptext {
    visibility: visible;
}




.telefon {
    position: fixed;
    left: 15px;
    bottom: 180px;
    transition: all .5s ease-in-out;
    z-index: 999;
}

.telefon a {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    font-size: 28px;
    display: block;
    text-align: center;
    line-height: 50px;
    color: white;
    background: #337ab7;
}

.telefon .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    line-height: normal;
    font-size: 15px;
    top: 13px;
    left: 105%;
    height: auto;
}

.telefon:hover a {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.telefon:hover .tooltiptext {
    visibility: visible;
}

.telegram {
    position: fixed;
    left: 15px;
    bottom: 70px;
    transition: all .5s ease-in-out;
    z-index: 999;
}

.telegram a {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    font-size: 28px;
    display: block;
    text-align: center;
    line-height: 50px;
    color: white;
    background: #27A7E5;
}

.telegram .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    line-height: normal;
    font-size: 15px;
    top: 13px;
    left: 105%;
    height: auto;
}

.telegram:hover a {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.telegram:hover .tooltiptext {
    visibility: visible;
}

.instagram {
    position: fixed;
    left: 15px;
    bottom: 15px;
    transition: all .5s ease-in-out;
    z-index: 999;
}

.instagram a {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    font-size: 28px;
    display: block;
    text-align: center;
    line-height: 50px;
    color: white;
    background: #fd3a67;
}

.instagram .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    line-height: normal;
    font-size: 15px;
    top: 13px;
    left: 105%;
    height: auto;
}

.instagram:hover a {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.instagram:hover .tooltiptext {
    visibility: visible;
}

.diller {
    position: fixed;
    left: 15px;
    bottom: 235px;
    transition: all .5s ease-in-out;
    z-index: 999;
}

.diller a {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    font-size: 28px;
    display: block;
    text-align: center;
    line-height: 50px;
    color: white;
    background: #000;
}

.diller .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    line-height: normal;
    font-size: 15px;
    top: 13px;
    left: 105%;
    height: auto;
}

.diller:hover a {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.diller:hover .tooltiptext {
    visibility: visible;
}

.lang {
    float: left;
    width: 100%;
}

.lang img {
    display: inline-block;
    height: 16px;
    margin-right: 8px;
    margin-top: 0px;
    margin-bottom: -3px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.lang .currencyitems a {
    width: 24%;
}

.activelang {
    opacity: 0.45;
    filter: alpha(opacity=45);
}

.lang h4 {
    float: left;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 24px;
}

.lang a {
    display: inline-block;
    vertical-align: top;
    /* width: 32%; */
    margin: 5px;
    font-size: 16px;
    color: #9d9d9d;
    padding: 10px;
    border: 1px solid #0000004d;
    border-radius: 50px;
}

.lang a:hover {
    border: 1px solid #000;
    color: #000;
}
.rounded-25 {
    border-radius: 25%;
}